# Node
node_modules/
.env

# React
client/node_modules/
client/.env

# Vite build
client/dist/

# Go build (if added later)
translator-go/bin/
translator-go/pkg/

# Logs and OS
*.log
.DS_Store
Quick-Chat/
libretranslate-on-render/
